h1{
  color: black; font-family: Arial, sans-serif;

}
h3{
  color: brown;
}
img{
  background-color: none;
}
body{
  background-color: #94d3ac;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font: Arial;

}
hr{
  border-style: dotted;
  border-style: none;
  border-width: 7px;
  border-color: green;
  border-top-style: dotted;
  width: 10%;
}
